@media (min-width: 320px) and (max-width: 767px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }


    .top {
        background-image: url(homework__img-mobile/site__img-mobile-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 735px;
    }

    .header {
        padding-top: 238px;
        gap: 32px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: Montserrat;

        &__title {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__text {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }

        &__form-link {
            width: 234.06px;
            height: 48.6px;
            left: 68.71px;
            right: -68.71px;
            top: 2829.61px;
            bottom: -2829.61px;
        }
    }



    .product {
        display: flex;
        flex-direction: column;
        gap: 32px;


        &__img1 {
            background-image: url(homework__img/game__img-1.jpg);
            width: 343px;
            height: 300px;
            border-radius: 16px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        &__img2 {
            background-image: url(homework__img/game__img-2.png);
            background-repeat: no-repeat;
            width: 343px;
            height: 300px;
            border-radius: 16px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        &__img3 {
            background-image: url(homework__img/game__img-3.jpg);
            width: 343px;
            height: 300px;
            border-radius: 16px;
            background-repeat: no-repeat;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }


    .product1 {

        padding-top: 51px;
        padding-bottom: 64px;
        align-items: center;

        &__box {
            display: flex;
            flex-direction: column;
            gap: 64px;
        }

        &__title {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__text {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__game__img {
            width: 344px;
            height: 231px;
        }

    }

    .product2 {
        padding-top: 51px;
        padding-bottom: 64px;
        align-items: center;

        &__box {
            display: flex;
            flex-direction: column;
            gap: 64px;
        }

        &__title {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__text {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__game__img {
            width: 344px;
            height: 231px;
        }
    }

    .product3 {

        &__title {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__text {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
        }

        &__game__img {
            width: 344px;
            height: 231px;
        }
    }
}